[
  (
    entity: 0,
    components: [
      {
        "type": "bevy_transform::components::transform::Transform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (0.0, 0.0, 0.0),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bevy_transform::components::global_transform::GlobalTransform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (0.0, 0.0, 0.0),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bevy_asset::handle::Handle<bevy_render::texture::image::Image>",
        "struct": {
          "id": {
            "type": "bevy_asset::handle::HandleId",
            "value": AssetPathId(((15542232897881425366), (6298619649789039366))),
          },
        },
      },
      {
        "type": "bevy_render::view::visibility::Visibility",
        "struct": {
          "is_visible": {
            "type": "bool",
            "value": true,
          },
        },
      },
    ],
  ),
  (
    entity: 1,
    components: [
      {
        "type": "bevy_transform::components::transform::Transform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (0.0, 0.0, 999.9),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bevy_transform::components::global_transform::GlobalTransform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (0.0, 0.0, 999.9),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bevy_render::camera::camera::Camera",
        "struct": {
          "projection_matrix": {
            "type": "glam::mat4::Mat4",
            "value": (0.0020920502, 0.0, 0.0, 0.0, 0.0, 0.0019212295, 0.0, 0.0, 0.0, 0.0, 0.001, 0.0, -0.0, -0.0, 1.0, 1.0),
          },
          "name": {
            "type": "core::option::Option<alloc::string::String>",
            "value": Some("camera_2d"),
          },
          "near": {
            "type": "f32",
            "value": 0.0,
          },
          "far": {
            "type": "f32",
            "value": 1000.0,
          },
        },
      },
      {
        "type": "bevy_render::camera::projection::OrthographicProjection",
        "struct": {
          "left": {
            "type": "f32",
            "value": -478.0,
          },
          "right": {
            "type": "f32",
            "value": 478.0,
          },
          "bottom": {
            "type": "f32",
            "value": -520.5,
          },
          "top": {
            "type": "f32",
            "value": 520.5,
          },
          "near": {
            "type": "f32",
            "value": 0.0,
          },
          "far": {
            "type": "f32",
            "value": 1000.0,
          },
          "window_origin": {
            "type": "bevy_render::camera::projection::WindowOrigin",
            "value": Center,
          },
          "scaling_mode": {
            "type": "bevy_render::camera::projection::ScalingMode",
            "value": WindowSize,
          },
          "scale": {
            "type": "f32",
            "value": 1.0,
          },
          "depth_calculation": {
            "type": "bevy_render::camera::camera::DepthCalculation",
            "value": ZDifference,
          },
        },
      },
      {
        "type": "bevy_render::view::visibility::VisibleEntities",
        "struct": {},
      },
      {
        "type": "bevy_render::primitives::Frustum",
        "struct": {},
      },
    ],
  ),
]